	<div class="text_colum">
		<h1> Willkommen auf plays.herokuapp.com! </h1>
		<div style="font-size:1.2vw">
			Auf dieser Seite können Sie Ihr Studium planen - ohne sich durch unübersichtliche Prüfungs- und Modulordnungen zu kämpfen. Für die verbindliche Anmeldung der Kurse und Klausuren muss jedoch StudIP und OPIUM benutzt werden.
			<br/>
			<br/>
			Auf dieser <a style="font-size:1.2vw;" class="no_link" href="http://www.uni-osnabrueck.de/studium/im_studium/pruefungen/zugangs_zulassungs_und_pruefungsordnungen.html">Seite</a> finden Sie die Prüfungs- und Modulordnungen der Universität Osnabrück.
			<br/>
			<br/>

			<h2>Öffnungszeiten Prüfungsamt FB 06</h2>
			<a style="font-size:1.2vw;" class="no_link" href="https://www.mathinf.uni-osnabrueck.de/fachbereich/pruefungsamt.html"><i>Anja Kipp </i></a><br/>
			<span class="glyphicon glyphicon-home"></span> 69/E04 <br/>
			Dienstag und Mittwoch: 10:30 - 12:30 Uhr <br/>
			Donnerstag: 13:30 - 15:30 Uhr <br/>
			<span class="glyphicon glyphicon-earphone"></span> +49 541 969 2563 <br/>
			<br/>
			<a style="font-size:1.2vw;" class="no_link" href="https://www.mathinf.uni-osnabrueck.de/fachbereich/pruefungsamt.html"><i>Petra Sandeck </i></a><br/>
			<span class="glyphicon glyphicon-home"></span> 69/E10 <br/>
			<span class="glyphicon glyphicon-earphone"></span> +49 541 969 2565 <br/>
			<br/>
			<span class="glyphicon glyphicon-envelope"></span><a style="font-size:1.2vw;" class="no_link" href="mailto:pruefamt06@uni-osnabrueck.de"> pruefamt06@uni-osnabrueck.de</a>
		</div>
	</div>

