<div class="plays_logo" style="height:500px;">
<div class="text_colum">
<h1> Willkommen auf plays.herokuapp.com! </h1>
Auf dieser Seite können Sie Ihr Studium planen - ohne sich durch unübersichtliche Prüfungs- und Modulordnungen zu kämpfen. Für die verbindliche Anmeldung der Kurse und Klausuren muss jedoch StudIP und OPIUM benutzt werden.
</div>
</div>
