<div class="plays_logo" style="height:500px;">
<div class="text_colum">
<h1> Willkommen auf plays.herokuapp.com! </h1>
<div style="font-size:1.2vw">
Auf dieser Seite können Sie Ihr Studium planen - ohne sich durch unübersichtliche Prüfungs- und Modulordnungen zu kämpfen. Für die verbindliche Anmeldung der Kurse und Klausuren muss jedoch StudIP und OPIUM benutzt werden.
<br/>
<br/>
Auf dieser <a style="font-size:1.2vw;" class="no_link" href="http://www.uni-osnabrueck.de/studium/im_studium/pruefungen/zugangs_zulassungs_und_pruefungsordnungen.html">Seite</a> finden Sie die Prüfungs- und Modulordnungen der Universität Osnabrück.
</div>
</div>
</div>
