<h2>Verantstaltung bearbeiten</h2>

<%= render 'form' %>
<!-- button "anzeigen" not necessary because the back buttons, leads also to the event -->
<!--<%= link_to 'Anzeigen', @event, class: "btn btn-default" %>-->
<%= link_to 'Zurück zur Verantstaltung', :back, class: "btn btn-default" %>

