<head>
  <center>
    <h4>
      Bewertung der Veranstaltung: 
      <%=@event.title%> 
    </h4>
  </center>
</head>
<br/>

<table> 
<thead>
<th style="width: 30%;"/>
<th style="width: 30%;"/>
<th style="width: 10%;"/>
<th style="width: 30%;"/>
</thead>
  <tr>
    <td>
    </td>
    <th>
      <center>
        <%=@rating.user.profile.name.capitalize%>
      </center>
    </th>
    <td/>
    <th>
      <center> alle Benutzer
      </center>
    </th>
  </tr>
  <tr>
    <th>
      <span class="has-tooltip" data-toggle="tooltip" title="Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen">Teilnahme
      </span>
    </th> 
    <td> 
      <% (1..5).each do |i| %>
        <%if i <= @rating.attend %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
    <td/>
    <td>
       <% (1..5).each do |i| %>
        <%if i <= @event.avg_rating('attend') %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
  </tr>
  <tr>
    <th><span class="has-tooltip" data-toggle="tooltip" title="Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen">Schwierigkeit
      </span></th>
    <td> 
      <% (1..5).each do |i| %>
        <%if i <= @rating.tough %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
    <td/>
    <td>
       <% (1..5).each do |i| %>
        <%if i <= @event.avg_rating('tough') %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
  </tr>
  <tr>
    <th><span class="has-tooltip" data-toggle="tooltip" title="Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen">Arbeitsaufwand
      </span></th>
    <td>
      <% (1..5).each do |i| %>
        <%if i <= @rating.effort %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
    <td/>
    <td>
       <% (1..5).each do |i| %>
        <%if i <= @event.avg_rating('effort') %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
  </tr>
  <tr>
    <th><span class="has-tooltip" data-toggle="tooltip" title="Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen">Verhältnis <br> Theorie/Praxis
      </span></th>
    <td> 
      <% (1..5).each do |i| %>
        <%if i <= @rating.share %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %>
    </td>
    <td/>
    <td>
       <% (1..5).each do |i| %>
        <%if i <= @event.avg_rating('share') %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
  </tr>
  <tr>
    <th><span class="has-tooltip" data-toggle="tooltip" title="Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen">Arbeitsmaterial
      </span></th>
    <td> 
      <% (1..5).each do |i| %>
        <%if i <= @rating.material %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
    <td/>
    <td>
       <% (1..5).each do |i| %>
        <%if i <= @event.avg_rating('material') %>
          <li class="rating_avg" ></li>
        <% else %>
          <li class="rating_rest" ></li>
        <% end %>
      <% end %> 
    </td>
  </tr>
</table>
