/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

/*Tag for everything on the page, change font style here for whole page*/
body {
  margin: 0;
  padding: 0;
  background: rgba(230, 230, 230, 0.25) !important;
  font-family: 'Oswald', sans-serif; 
}

/*Spawned content should be below navigation bars, change margin here*/
.content {
  margin-top: 7.5%;
  margin-left: 7.5%;
  width: 85%;
  height: 100%;
  background: rgba(230, 230, 230, 0.75);
  border-radius: 15px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*Contains navigation and login fields, is fixed so that it will stay visible when scrolling*/
.bar-container {
    position:fixed;
    background-color: #444 !important;
    top: 0;
    padding: 0;
    margin-top: 0%;
    margin-left: -10px;   
    width: 101%;
    height: 25px;
    z-index: 5;
}

/*Position of login fields*/
.login {
    position:absolute;
    top: 0;
    padding: 0;
    margin-top: 0%;
    margin-left: 72.25%;
    width: 100%;
}

/*Style of Login fields list*/
.login ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
/*Outward appearance of login items concerning everything aside from color*/
.login li.no_user{
  font-size: 1.15vw;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  /*margin-right: -4px;*/
  width: 15%;
}

/*Outward appearance of login items concerning everything aside from color*/
.login li.active_user{
  font-size: 1.15vw;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10%;
/*  margin-right: -4px;*/
  width: 15%;
}


/*Color of login items*/
.login a {
  text-decoration: none !important;
  color: #00CC66 !important;
  display: block;
}

/*Color of login item background when hovered*/
.login a:hover {
  background-color: #005f5f;
  text-decoration: none !important;
}

/*Position of navigation fields*/
.nav {
  position:absolute;
  top: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

/*Style of navigation fields list*/
.nav ul {
  list-style: none;
  list-style-type:none;
  list-style-image:none;
  background-color: #444;
  padding: 0;
  margin: 0;
}

/*Outward appearance of navigation items concerning everything aside from color*/
.nav li.topmenu{
  font-size: 1.15vw;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -20px;
  width: 15%;
  /*float:left;*/
}

/*Color of navigation item background when hovered*/
.nav a:hover, .topmenu.on a {
  color:#4C4C4C;
  background-color:#005f5f !important;
  text-decoration: none;
}
 
 /*Color of active navigation item*/
.nav a.active {
  background-color: #088A4B;
  color: #444;
  cursor: pointer;
}

/*Expands submenu when hovered*/
.topmenu:hover ul {
  display:block;  
  z-index:500;
  text-decoration: none;
}

/* Layout of menu texts */
.topmenu a {
  float:left;
  width:80%;
  text-decoration: none !important;
  display: block;
  transition: .3s background-color;
}

/* Hide submenus when not hovered*/
.topmenu ul{
  display:none;
}

/* Layout of menu texts*/
.topmenu a, .submenu a{
  padding:2px 5px;
  /*border-collapse:collapse; /*what is this stuff?*/
  font-weight:bold;
  color: #00CC66 !important;
  text-decoration:bold;
  background-color: #444;
  margin:0;  
}

/*Layout of submenu texts*/
.submenu a{
  font-size:1.0vw;
  width:100;
  position:relative;
  clear:both; /* special IE6 */
}

.plays_logo {
  background-image: asset-data-url("PlaYS_Logo_1.png");
  background-size: cover;
  background-position: right;
  background-size: 50% 60%;
  background-repeat: no-repeat;
  margin-top: -20px;
}

/*Logo format in upper left corner*/
.nav a.logo {
  background-image: asset-data-url("PlaYS_Logo_1.png");
  background-size: cover;
  width: 80%;
  height: 64px;
  background-position: center;
  background-size: 100px 60px;
  background-repeat: no-repeat;
  margin-top: -20px;
  float:left;
  text-indent:-9999px;
  display: block;
}

/* layout of tables, text vertical-aligned to middle */
.table > tbody > tr > td {
     vertical-align: middle !important;
     font-size: 1.1vw;
}

/* make column names scalable*/
.table > thead > tr > th {
  font-size: 1.3vw;
}

.table2 > tbody > tr > td {
     vertical-align: middle !important;
     font-size: 1.1vw;
     line-height: 1.5vw;
}

.table2 > thead > tr > th {
  font-size: 1.3vw;
}

/* configure button width */
.my_button1 {
  width: 50% !important;
  display: block !important;
  overflow: hidden !important;
}

/* configure width of a wider button group*/
.wider_btn_group {
  width: 50% !important;
}

/* make event-description cover whole div */
.text-event {
  width: 100%;
}

/* make scrollable field for too long texts */
.overflow_to_scroll {
  overflow-y: scroll;
  height: 55px;
}

/* change width here for width of whole email,pw,button group*/
.same_width1 {
  width: 35% !important;
}

/* makes content of same_width1 div be filled to that width*/
.same_width1_input {
  display: block !important;
  width: 100% !important;
}

/* change width here for width of whole email,pw,button group*/
.same_width2 {
  width: 65% !important;
  display: table;
  table-layout: fixed;
border-collapse: separate;
}

/* makes content of same_width2 div be filled to that width*/
.same_width2_in1 {
  display: block !important;
  width: 40% !important;
}

/* makes content of same_width2 div be filled to that width*/
.same_width2_in2 {
  display: block !important;
  width: 100% !important;
}

/* makes content of same_width2 div be filled to that width*/
.same_width2_in3 {
  display: block !important;
  width: 40% !important;
}


.btn_group_wide1 {
  width: 100% !important;  
}

.middle_icon {
  vertical-align: middle;
  margin: auto !important;
}

.col-xs-mini{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 7.66666666%;
}

.overlay {
  display: none;
  opacity:0.6;
  background-color: white;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.frame1 {
  border: 3px solid green;
  width: 800px;
  height: 90vh;
  margin-left: calc(50%-400px);
  margin-top: 5vh;
  display: inline-block;
}

.leftbox{
  display: inline-block;
  margin-right: 20px;
  height: 90vh;
  width: 300px;
  background-color: red;
}

.splat1{
  position: absolute;
  z-index: 20;
  opacity: 0.7;
  width: 40vw;
}
.splat2{
  position: absolute;
  z-index: 21;
  width: 30vw;
  margin-left: 15vw;
  opacity: 0.8;
}
.splat3{
  position: absolute;
  width: 40vw;
  opacity: 0.5;
  z-index: 19;
  margin-top: 10vh;
  margin-left: 15vw;
}
.splat4{
  position: absolute;
  z-index: 20;
  opacity: 0.9;
  width: 15vw;
  margin-left: 30vw;
  margin-top: 10vh;
}
.splat5{
  position: absolute;
  z-index: 20;
  margin-top: 35vh;
  margin-left: 10vw;
  opacity: 0.9;
}
.ball1{
  position: absolute;
  z-index: 25;
  width: 9vw;
  margin-left: 20vw;
  margin-top: 14vh;
}
.ball2{
  position: absolute;
  z-index: 26;
  width: 8vw;
  margin-left: 15vw;
  margin-top: 35vh;
}
.ball3{
  position: absolute;
  z-index: 27;
  width: 10vw;
  margin-left: 20vw;
  margin-top: 37vh;
}


/*Format of pagination element*/
.digg_pagination {
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination  li.active > a, .digg_pagination li.active > a:focus, .digg_pagination li.active > a:hover, .digg_pagination li.active > span, .digg_pagination li.active > span:focus, .digg_pagination li.active > span:hover{
  color: #777 !important;
  background-color: #00CC66 !important;
  border-color: #00CC66 !important;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; 
  color: #777 !important;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #00CC66;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #00CC66;
  border: 1px solid #9aafe5; }
  .digg_pagination a:hover, .digg_pagination a:focus {
    color: #00CC66;
    border-color: #00CC66; }
.digg_pagination .page_info {
  background: #00CC66;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
  .digg_pagination .page_info b {
    color: #000033;
    background: #00CC66;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }

/*Sortable Columns with icon*/
.our_sort:after {
  margin-left: 1%;
  font-family: 'Glyphicons Halflings';
  content: "\e150";
  font-size: 1vw;
}

.our_sort {
  background: none !important;
  text-decoration: none !important;
  font-size: 1.5vw;
}

.our_link {
  background: none !important;
  text-decoration: none !important;
  font-size: 1.15vw;
  line-height: 1.5vw;
  padding-left: 2%;
}

.our_link_head {
  background: none !important;
  text-decoration: none !important;
  font-size: 1.15vw;
  line-height: 1.5vw;
  color: black;
}

.our_link_head:visited {
  color: black;
}

/* align searchbar and Title */
.aligned_search {
  display: inline-block;
  width: 33%;
  vertical-align: bottom;
}

/* Made searchfield bigger */
.text_field_r {
  line-height: 1.73vw;
  width: 50%;
}

/* maybe figure out way to do this with % without making your own row be smaller than the others*/
.fixed_height_table1 tr {
  height: 50px;
}


/*flashmessage if incorrect password or email adress*/
.flash-message {
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }
  &.notice {
    border: solid 4px #26722D;
    background-color: #A4E7A0;
  }
  &.my_flash{
    color:red;
  }
  color: black;
  font-weight: bold;
  width: 50%;
  height: 10%;
  margin-bottom: 2%;
  p {
    font-size: 110%;
    margin: 15px 0;
  }
}

/*beautiful cat as a message*/
.cat {
    background-image: asset-data-url("vertippt_b.png");
    background-size: cover;
    background-position: right;
    background-size: 274px 252px;
    background-repeat: no-repeat;
    position: fixed;
    width: 274px;
    height: 252px;
    margin-left: 40%;
}

/*event page container on left side*/
.left_side {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  font-size: 1.15vw;
}

/* change size of headings to be scalable*/
.left_side h4 {
  font-size: 1.5vw;
}

.left_side h3 {
  font-size: 2vw ;
}

/*event page container on right side*/
.right_side {
  height: 100%;
  width: 30%;
  margin-top: right;
  display: inline-block;
  float:right;
  vertical-align: middle;
  font-size: 1.15vw;
}

/* two containers in this one are now next to each other*/
.event_container {
  overflow: hidden;
  position: relative;
}

/*change background color*/
.container_events {
  background: rgba(220, 220, 220, 0.75);
  border-radius: 5px;
  overflow: hidden;
  padding: 1%;
}

/* align searchbar and Title */
.aligned_csv_left {
  display: inline-block !important;
  width: 65%;
  vertical-align: top;
}
.aligned_csv_right {
  display: inline-block !important;
  width: 25%;
  vertical-align: top;
  float:right;
  margin-top: right;
}

.import_container {
  background: rgba(250, 250, 250, 0.75);
  border-radius: 5px;
  padding: 0.5%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.info_txt {
  font-size: 1.15vw;
  background-color: #A4E7A0;
  line-height: 2vw;
  border-radius: 5px;
  padding-left: 1%;
}

/*change size when window is getting to small*/
@media (max-width: 1000px) {
  .content {
    margin-top: 10%;
  }
  .login li.topmenu {
    font-size: 2vw;
  }
  .nav li.topmenu {
    font-size: 2vw;
  }
}

.my_div_container {
  overflow: hidden;
}

.my_div_2 {
  display: inline-block;
}

.text_colum {
  width: 50%;
}
