ol.tree
{
    padding: 0 0 0 0;
    width: 100%;
}


li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px; }

li.course input:checked + ol
{
    /*background: url(/assets/toggle-small.png) 40px 5px no-repeat;*/
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}

li.course input:checked + ol > li {
    display: block;
    margin: 0 0 0.125em;  /* 2px */}

li.course input:checked + ol > li:last-child {
    display: block; 
    margin: 0 0 0.063em; /* 1px */ }

/*input[type=checkbox] {
  width: 75%;
  height: 50%;
  margin-left: -25%;
  cursor: pointer;
  content: '';
  display: inline-block;
}*/

