/* Just some base styles not needed for example to function */
/* CSS Tree menu styles */
ol.tree {   
padding: 0 0 0 2%;
width: 70%;
}

ol.tree a:hover {
    text-decoration: none !important;
    background-color: transparent !important;
    color: #00CC66 !important;
}

ol.tree a {
    color: black !important;
}

li.course 
{ 
    position: relative; 
    list-style: none;
}
/*list events which are already passed*/
li.passedfile
{
    background-color: #8DE28D;
}

li.plannedfile
{
    background-color: #ADD8E6;
}


/*lists passed events of one block and assigns picture*/
li.passedfile a{
    text-decoration: none;
    display: block;
    font-size: 1.3vw;
    line-height: 1.43vw;
}

li.plannedfile a{
    text-decoration: none;
    display: block;
    font-size: 1.3vw;
    line-height: 1.43vw;
}


/*lists courses of one block and assigns picture*/
li.file a{
    text-decoration: none;
    display: block;
    font-size: 1.3vw;
    line-height: 1.43vw;
}



li.file input + ol > li{
    display: none;
}


input:checked + ol > li.file { 
    display: block; 
}

input:not(:checked) + ol > li.file{ 
    display: none !important; 
}

/* Has to be added so that planned and passed files are hidden when parent folder is closed*/
input:checked + ol > li.passedfile { 
    display: block; 
}
input:not(:checked) + ol > li.passedfile{ 
    display: none !important; 
    margin: 0 0 0.125em ;  
}

li.plannedfile a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e142  ";
}

li.passedfile a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013  ";
}

li.file a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e022  ";
}

input:checked + ol > li.plannedfile { 
    display: block; 
    margin: 0 0 0.125em ; 
}
input:not(:checked) + ol > li.plannedfile{ 
    display: none !important; 
    margin: 0 0 0.125em ;  
}

input:checked + ol > li.plannedfile { 
    display: block; 
    margin: 0 0 0.125em ;  /* 2px */
}
input:not(:checked) + ol > li.plannedfile{ 
    display: none !important; 
    margin: 0 0 0.125em ;  /* 2px */
}

input:checked + ol > li.passedfile { 
    display: block; 
    margin: 0 0 0.125em ;  /* 2px */
}
input:not(:checked) + ol > li.passedfile{ 
    display: none !important; 
    margin: 0 0 0.125em ;  /* 2px */
}

li.course input
{
    transform: scale(1);
    position: absolute;
    left: 250%;
}
li.course input + ol:after{
    font-size: 1.3vw;
    line-height: 1.43vw;
}

li.course label:before {
    font-family: 'Glyphicons Halflings';
    content: "\e117  "
}

li.course label{
    cursor: pointer;
    display: block;
    font-size: 1.3vw;
    line-height: 2.8vw;
}

li.course input:checked + ol
{
    height: auto;
}

/*maybe not needed at all...*/
li.course input:checked + ol > li:last-child { 
    /*margin: 0 0 0.063em ;*/
}


li.course input + ol > li { 
    display: none;
}

li.course input:checked + ol > li{ 
    display: block; 
}

.legend {
    overflow: hidden;
}

.legend_container {
    float:right;
    border-radius: 5px;
    background-color: rgba(220,220,220,0.5);
    padding: 2%;
    width: 30%;
}

.legend_square {
    font-size: 1.15vw !important;
    list-style: none;
}

.legend_square:before {
    font-family: 'Glyphicons Halflings';
    content: "\2601 ";
    margin-right: 1%;
}
