/* Just some base styles not needed for example to function */
    
/* CSS Tree menu styles */
ol.tree1
{
    padding: 0 0 0 30px;
    width: 300px;
}
li input + ol > li 
{
    display: none;
    margin-left: -14px !important; padding-left: 1px; 
}

li.profile input:checked + ol
{
    margin: -1.25em 0 0 -44px; 
    padding: 1.563em 0 0 80px;
    height: auto; 
}

li.profile input:checked + ol > li 
{ 
    display: block; margin: 0 0 0.125em; 
}

li.profile input:checked + ol > li:last-child 
{ 
    margin: 0 0 0.063em;  
}

